<!DOCTYPE html>
<html lang="KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <style>{{ template "style" . }}</style>
    <title>{{ .Title }}</title>
</head>
<body>
<div id="container">
    <div class="btitle">
        <a class="nodeco" href="/">{{ .Title }}</a>
    </div>

    {{ if .InList }}
    <div class="description">
        {{ .Description }}
    </div>

        <div class="tags">
            {{ range .Tags }}
                <a class = "nodeco" href="tag{{ .ID }}.html">
                    <span class="name">
                        {{ .Name }}</span>
                    <span class="count">({{ .Count }})</span>
                </a>
            {{ end }}
        </div>
    {{ end }}

    {{ template "body" .}}
    <div class="footer">
        <a href="https://github.com/wirekang/blogen">Powered by blogen</a>
    </div>
</div>
</body>
</html>