<!DOCTYPE html>
<html lang="KR">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NVC469B1QW"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NVC469B1QW');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <meta property="og:site_name" content="wirekang 블로그">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ .Addr }}/logo.png">
    <meta property="og:local" content="ko_KR">
    {{ if .InSingle }}
        <title>{{ .Post.Title }}</title>
        <meta property="og:title" content="{{ .Post.Title }}">
        <meta property="og:url" content="{{ .Addr }}/{{ .Post.ID }}.html">
    {{ else }}
        <title>{{ .Title }}</title>
        <meta property="og:title" content="{{ .Title }}">
        <meta property="og:url" content="{{ .Addr }}">
    {{ end }}

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <style>{{ template "style" . }}</style>
</head>
<body>
<img src="{{ .Addr }}/logo.png" alt="logo" style="visibility: hidden; width:0; height:0;"/>
<div id="container">
    <div id="title">
        <a class="nodeco" href="/">{{ .Title }}</a>
    </div>

    {{ if .InList }}
    <div id="description">
        {{ .Description }}
    </div>
    <a id="link-github" class="nodeco" href="https://github.com/wirekang">GitHub</a>

        <div id="tags">
            {{ range .Tags }}
                <a class = "nodeco" href="tag{{ .ID }}.html">
                    <span class="name">
                        {{ .Name }}</span>
                    <span class="count">({{ .Count }})</span>
                </a>
            {{ end }}
        </div>
    {{ end }}

    {{ template "body" .}}
    <div id="footer">
        <a href="https://github.com/wirekang/blogen">Powered by blogen</a>
    </div>
</div>
</body>
</html>

{{ define "post" }}
    <div class="post-list" onclick="location.href='{{ .ID }}.html'">
        <span class="title">{{ .Title }}</span>
        <span class="date">{{ .Time.Format "2006-01-02" }}</span>
    </div>
{{ end }}