<!DOCTYPE html>
<html lang="KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <meta name="og:image" content="logo.png">
    <meta name="og:local" content="ko_KR">
    {{ if .InSingle }}
        <title>{{ .Post.Title }}</title>
        <meta name="og:title" content="{{ .Post.Title }}">
        <meta name="og:url" content="{{ .Addr }}/{{ .Post.ID }}.html">
    {{ else }}
        <title>{{ .Title }}</title>
        <meta name="og:title" content="{{ .Title }}">
        <meta name="og:url" content="{{ .Addr }}">
    {{ end }}
    <meta name="og:site_name" content="wirekang 블로그">
    <meta name="og:description" content="{{ .Description }}">

    <style>{{ template "style" . }}</style>
</head>
<body>
<div id="container">
    <div class="btitle">
        <a class="nodeco" href="/">{{ .Title }}</a>
    </div>

    {{ if .InList }}
    <div class="description">
        {{ .Description }}
    </div>

        <div class="tags">
            {{ range .Tags }}
                <a class = "nodeco" href="tag{{ .ID }}.html">
                    <span class="name">
                        {{ .Name }}</span>
                    <span class="count">({{ .Count }})</span>
                </a>
            {{ end }}
        </div>
    {{ end }}

    {{ template "body" .}}
    <div class="footer">
        <a href="https://github.com/wirekang/blogen">Powered by blogen</a>
    </div>
</div>
</body>
</html>

{{ define "post" }}
    <a class="nodeco post" href="{{ .ID }}.html">
        <span class="title">{{ .Title }}</span>
        <span class="date">{{ .Time.Format "2006-1-2" }}</span>
    </a>
    </br>
{{ end }}