{{ define "style" }}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
}

body{
    width:100%;
    height:96%;
    max-width: 900px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: #fdfdfb;
}

div, a,p,h1,h2,h3{
    color: #333;
}

#container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

div#title{
    font-family: 'D2Coding';
    {{ if .InList }}
    font-size: 35px;
    padding-bottom: 8px;
    {{ else }}
    font-size: 20px;
    {{ end }}
    text-align:center;
}

div#description{
    font-size: 16px;
    text-align:center;
    padding: 3px 0;

}

a#link-github{
    font-size: 11px;
    text-align: center;
    padding-bottom: 16px;
}

div#tags{
    font-size: 16px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#tags a{
    border: 1px solid #aaa;
    padding: 2px;
}

p.filter{
    font-size: 20px;
    color:#444;
    text-align: center;
}

div.post-list{
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 18px;
    padding: 2px;
    height: 24px;
    margin-top:-1px;
}

div.post-list span.title{
    float:left;   
}

div.post-list span.date{
    float:right;
}

div#single{
    padding: 18px;
    word-break: keep-all;
}

div#single div#title{
    font-size: 26px;
    font-weight: bold;
    text-align:center;
    padding-bottom: 6px;
}

div#under{
}

div#under a.tag{
    color: #666;
    float:right;
    padding-right: 0.3em;
}

div#under p#date{
    color: #666;
}


div#toc {
    padding-bottom: 40px;
}

a.toc{
    font-size:18px;
    line-height: 25px;
}

a.toc-h1{
    margin-left: 0;
}

a.toc-h2{
    margin-left: 20px;
}

a.toc-h1::before{
    font-size: 10px;
    content: "■ "
}

a.toc-h2::before{
    font-size: 9px;
    content: "● "
}

div#post {
    line-height: 150%;
}

div#post h1{
    font-size: 1.8em;
}

div#post h2{
    font-size: 1.5em;
}

div#post h3{
    font-size: 1.2em;
}

div#post h1,
div#post h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #dadcdf;
}

code {
    font-family: 'D2Coding';
}

div.comment-block{
    border: 1px solid #ccc;
    display:flex;
    flex-direction:column;
    margin-top:-1px;
}

div.comment-l1{
    margin: 0.2em;
}

div.comment-l2{
    margin: 0.2em;
    max-height: 8em;
    overflow-y:auto;
}

span.comment-name{
    font-weight: bold;
    float:left;
}

span.comment-time{
    font-size: 0.8em;
    float:right;
}

span.comment-text{
    font-size: 0.9em;
}

a.comment-delete{
    color:#666;
    float:right;
}

div#comment-add{
    display:flex;
    flex-direction: column;
}

div#comment-add-l1{
    display:flex;
    flex-direction: row;
}

input#comment-name{
    max-width:15em;
    flex:3;
}
input#comment-pass{
    max-width:8em;
    flex:1;
    color:#aaa;
}

div#comment-add-l2{
    display:flex;
    flex-direction: row;
}

textarea#comment-text{
    flex:20;
    resize: none;
    height:6em;
}

input#comment-submit{
    min-width:4em;
    flex:1;
}

div#alert{
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-weight: bold;
    color:darkred;
}

a.nodeco{
    text-decoration: none;
}

a.nodeco:hover{
    color:#33d;
}

a.gray{
    color: #777;
}

div#footer{
    margin-top: auto;
    padding-top:20px;
    justify-self: flex-end;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;

}

{{ end }}