<head>
  <title>npm.install.express</title>
  <meta charset="utf-8" />
  <meta name="description" content="wirekang 블로그" />
  <meta name="viewport" content="width=device-width,minimum-scale=1" />
  <link rel="stylesheet" href="{{relLangURL ""}}styles.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-W3LZS1T164"
  ></script>
  <script>
    if (!window.location.origin.includes("//localhost:")) {
      console.log("gtag")
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-W3LZS1T164");
    }
  </script>
</head>
